.contacts-container {
	width: 400px;
	margin: 0 auto;
}

.row-btn {
	width: 30px;
	height: 30px;
	margin-left: auto;
	margin-top: 8px;
}

.add-icn {
	fill: rgb(74, 73, 73);
}

.contact-field-head {
	font-weight: bold;
	font-size: 18px;
	margin-bottom: 8px;
}

.save-btn {
	margin-left: 8px;
}

/* .add-btn-wrapper {
	display: flex;
	justify-content: flex-end;
} */

/* .add-btn {
	margin-top: 8px;
} */
